div{

	border: 1px solid ;
	float: left;
	margin: 0 20px 20px 0;
	padding: 10px 10px 10px 10px;
}

<<<<<<< HEAD
#Address-Book {
	width: 200px;
	height: 200px;
}

#Search-Results {
	width: 200px;
	height: 200px;
=======
#Name {
	margin : 0 0 0 15px;
}

th {
	text-align: center;
	background : #C0C0C0 ;
>>>>>>> gh-pages
}